{% extends 'base.html' %}
{% block content %}
<div class="container text-center">
    <h1>API Overview</h1>
    <p>Our API is available for everyone to use.</p>
    <h1>Why would I need an API?</h1>
    <p>The API provides a fast, consistent and reliable way to get third party data.</p>
    <h1>Does the API ever change? How can learn about new features?</h1>
    <p>Yes, it can from time to time. We try our best to post these relevant updates to the official documentation.</p>

    <h1>General Features</h1>
    <h4>Profiles</h4>
    <h4>Projects</h4>


    <h1>Account Session Features</h1>
    <p>Add a project</p>
    <p>Rate a project</p>
    <p>Add a profile</p>


    <h1>Recommended </h1>
</div>
{%endblock%}
