{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h1 style="text-align: center;font-weight:bold;color:#f26419;">Welcome to awwards API</h1><hr>
        <div class="row">
            <div class="col-lg-4">
                <div class="card ">
                    <img src="https://images.pexels.com/photos/230659/pexels-photo-230659.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"  class="card-img-top img-fluid" alt="{{project.name}}" >
                    <div class="card-text text-center" style="padding: 20px;">
                        <h4 style="font-weight: bold;">Awwards API</h4>
                        
                    </div>
                </div>
                <div class="card ">
                    <div class="card-text text-center" style="padding: 20px;">
                        <h4 style="font-weight: bold;">End Points</h4>
                        <a  href="api/project" target="_blank">Project</a><br><br>
                        <a href="api/profile" target="_blank">Profile</a><br><br> 
                    
                    </div>
                </div>
            </div>
            <div class="col-lg-8" >
                <div style="padding: 40px;font-family:Arial, Helvetica, sans-serif;text-align:center">
                 
                        <h3 style="font-weight:bold">API Overview</h3>
                        <p>Our API is available for everyone to use.</p>
                
                        <h3 style="font-weight:bold">Why would I need an API?</h3>
                        <p>The API provides a fast, consistent and reliable way to get third party data.</p>
                    
                        <h3 style="font-weight:bold">Does the API ever change? How can learn about new features?</h3>
                        <p>Yes, it can from time to time. We try our best to post these relevant updates to the official documentation.</p>
                   
                        <h3 style="font-weight:bold">General Features</h3>
                        <p>Allows 'GET' Profile data & 'GET' Profile data</p>  
       
                        <h3 style="font-weight:bold">Testing </h3>
                        <p>For experience we recommend Postman <a href="https://www.postman.com/">https://www.postman.com/</a> </p>
              
                </div>
            </div>
        </div>

    </div><br><br>
{%endblock%}
