{% extends 'base.html' %}
{% block content %}
{{block.super}} 
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="card " >
                <img src="{{project.webimage.url}}"  class="card-img-top img-fluid" alt="{{project.name}}" >
                <div class="container">
                    <h5 >{{project.name}}</h5>
                    <small class="text-muted" >Developer: {{project.user}}</small><br>
                    <a href="http://{{project.link}}">visit site</a><br><br>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div>
                <h2 class="text-center">Project Description</h2>
                <p >{{project.description}}</p>
            </div>
        </div>
    </div>
</div>

{%endblock%}