{% extends 'base.html' %}
{% block content %}
{{block.super}} 
<div class="container" style="padding: 50px;">
    <div class="row">
        <div class="col-lg-4">
            <div class="card ">
                <img src="{{project.webimage.url}}"  class="card-img-top img-fluid" alt="{{project.name}}" >
                <div class="card-text text-center" style="padding: 20px;">
                    <h4 style="font-weight: bold;">{{project.name}}</h4>
                    <a class="btn btn-info" style="border-radius: 25px;" href="http://{{project.link}}" target="_blank">Visit Website</a><br><br>
                </div>
            </div>
        </div>
        <div class="col-lg-8" style="padding:40px;">
            <div>
                <h2 class="text-center" style="font-weight: bold;">Project Name</h2>
                <p class="text-center">{{project.name}}</p>
                <h2 class="text-center" style="font-weight: bold;">Project Description</h2>
                <p class="text-center">{{project.description}}</p>
                <h5 class="text-center"><strong> Developer: {{project.profile}}</strong></h5>
            </div>
        </div>
    </div>
</div>

{%endblock%}