{% load bootstrap3 %}
<!-- Footer -->
<footer class="page-footer font-small pt-4" style="background-color: #535250;color: white;padding-top: 100px;padding-bottom:40px;font-family:Arial, Helvetica, sans-serif">

    <!-- Footer Text -->
    <div class="container">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold"><strong> Directory</strong> Find the Best Digital Agencies & Professionals</h5>
          <h5 class="font-weight-bold"><strong> Contacts</strong>:</h5>
          <h6 ><strong>Email</strong>: msyokimutua@gmail.com<h6>
          <h6><strong> Tel</strong>: 0100-100-01</h6>

          <h6 class="font-weight-bold"><strong>Address</strong>: Waiyaki-way - West-end</h6>
          <h6>Nairobi,Kenya</h6>
  
        </div>
        <!-- Grid column -->
  
        
  
        <!-- Grid column -->
        <div class="col-md-6 mb-md-0 mb-3" >
  
          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold"><strong> The awards for design, creativity and innovation on the Internet</strong></h5>
          <hr class="clearfix w-100 d-md-none pb-3">
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Text -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://mdbootstrap.com/"> <span style="color: white;">Awwards</span></a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
